.hero-img-text {
    margin-top: 100px;
    width: 500px;
    font-weight: bold;
}

.most-popular {
    margin-top: 75px;
}

#carouselExampleCaptions {
    width: 35%;
    align-items: center;
}

.natParks-side-filter {
    float: left;
    width: 25%;
    padding-left: 15px;
}

.container {
    justify-content: center;
}

#ptype-dropdown {
    width: 50%;
    margin-top: 25px;
    padding-left: 10px;
}

#loc-dropdown {
    width: 50%;
    margin-top: 25px;
    padding-left: 10px;
}

#nat-parks-btn {
    margin-top: 25px;
}